<% if @registered_application.destroyed? %>
  $("#registered_application-<%= @registered_application.id %>").hide();
  $('.js-registeredapplications-count').html("<%= pluralize(@registered_application.user.registered_applications.count, 'registered_application') %>");
<% else %>
  $('.flash').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
